DirectoryIndex index.php

RewriteEngine on

FileETag none

<IfModule mod_deflate.c>
  # Insert filter
  SetOutputFilter DEFLATE

  # Netscape 4.x has some problems...
  BrowserMatch ^Mozilla/4 gzip-only-text/html

  # Netscape 4.06-4.08 have some more problems
  BrowserMatch ^Mozilla/4\.0[678] no-gzip

  # MSIE masquerades as Netscape, but it is fine
  # BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

  # NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
  # the above regex won't work. You can use the following
  # workaround to get the desired effect:
  BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

  # Don't compress images
  SetEnvIfNoCase Request_URI \
  \.(?:gif|jpe?g|png)$ no-gzip dont-vary

  # Make sure proxies don't deliver the wrong content
#  Header append Vary User-Agent env=!dont-vary
</ifModule>

###################################################
# Don't let people see config etc directories
###################################################
RewriteRule ^\. - [F,L]
RewriteRule ^cache(/.*)?$ - [F,L]
RewriteRule ^classes(/.*)?$ - [F,L]
RewriteRule ^client(/.*)?$ - [F,L]
RewriteRule ^config(/.*)?$ - [F,L]
RewriteRule ^README.Markdown$ - [F,L]
RewriteRule ^LICENSE$ - [F,L]

###################################################
# Comment this line out if you want to be able to 
# try out the example.php script on a test server
###################################################
RewriteRule ^example.php$ - [F,L]
